body {
    background: #efefef;
    font-family: Arial, serif;
}
#wrapper {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: left;
}
h1 {
    font-size: 20px;

}
a {
    color: #000000;
    text-decoration: underline;
}
a:hover {
    color: #000000;
    text-decoration: none;

}
h2 {
    font-size: 16px;
}
h3{
    font-size: 15px;
}
p {
    font-size: 15px;
}
menu {
    padding-left: 2px;
}
menu li {
    display: inline;
}